p {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

h2 {
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid red;
}

h3 {
    width: 500px;
    height: 20px;
    padding: 10px 20px;
    margin: 20px 5px 10px 8px;
    border: 1px solid green;
}